.header {
    .navigation {
        .link {
            display: block;
            line-height: 1;
            padding: rem(8) rem(12);
            border-radius: (--ma)
            textDecoration: 'none',
        }
    }
}